@import "_reset";

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 800;

$margin-big-screen: 98px;
$margin-small-screen: 36px;

$default-text: 14px;
$bigger-text: 16px;
$small-header: 20px;
$header: 36px;

$yellow: #fac663;
$orange: #ff7236;
$gray: #e1e1e1;

$medium: 1366px;
$minimum: 768px;

$phone: 480px;
$big-phone: 642px;
$tablet: 768px;
$desktop: 1070px;
$big-desktop: 1366px;

// Lato font
// Lato Regular
@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
}

// Lato Medium
@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
}

// Lato Semibold
@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
}

// Rubik font
// Rubik Medium
@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
}

// Rubik Bold
@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-Bold.ttf") format("truetype");
  font-weight: 800;
}

$Rubik: Rubik, sans-serif;
$Lato: Lato, sans-serif;

* {
  box-sizing: border-box;
  font-family: $Lato;
  font-size: $default-text;

  &:focus {
    outline: none;
  }
}

html {
  font-family: $Lato;
  font-size: $default-text;
}

nav {
  padding: 12px 98px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 20;

  @media (max-width: $tablet) {
    padding: 12px 36px;
  }

  ul {
    display: flex;

    li {
      margin-right: 30px;
      font-size: 16px;
      font-weight: $semi-bold;

      &:last-child {
        margin-right: 0px;
      }

      a {
        text-decoration: none;
        color: black;
        position: relative;

        @media (max-width: $tablet) {
          width: 100%;
          display: block;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 0%;
          height: 3px;
          background-color: $yellow;
          transition: width 0.2s ease;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }

  input[type="checkbox"],
  .nav-burger {
    display: none;
  }

  @media (max-width: $tablet) {
    input[type="checkbox"] {
      margin: 0 auto;
      display: block;
      position: absolute;
      top: 12px;
      bottom: 12px;
      right: 36px;
      width: 32px;
      height: 55px;
      opacity: 0;
      cursor: pointer;
      z-index: 3;

      &:checked ~ ul {
        max-height: 1000px;
      }
    }

    .nav-burger {
      display: block;
      cursor: pointer;
    }

    ul {
      flex-direction: column;
      position: absolute;
      top: 77.5px;
      left: 0;
      background-color: white;
      padding: 15px 36px;
      // padding-left: 98px;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.2s ease;

      li {
        margin: 15px 0;
      }
    }
  }
}

main {
  padding: 0 98px;
  display: flex;
  flex-wrap: wrap;

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;

    h1 {
      font-size: $header;
      font-weight: $bold;
      font-family: $Rubik;
    }

    .custom-select {
      position: relative;
      width: 174px;

      .select-box {
        height: 100%;
      }

      #arrow {
        position: absolute;
        top: 13px;
        right: 20px;
        bottom: 0;
        transform: rotate(180deg);
        z-index: 12;
        &.rotated {
          transform: rotate(0deg);
        }
      }

      #select-button {
        cursor: pointer;
        padding: 0 20px;
        #selected-value {
          font-size: $default-text;
          line-height: 34px;
          margin-right: 26px;
          height: 100%;
          vertical-align: middle;
        }
      }

      #options {
        background-color: white;
        overflow: hidden;
        position: absolute;
        width: 174px;
        right: 0;
        box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
        border-radius: 4px;
        // padding: 0 20px;
        max-height: 0;
        transform: translateY(-36px);
        z-index: 11;

        &.visible {
          max-height: 1000px;
        }

        .option {
          cursor: pointer;
          padding: 12px 20px;
          position: relative;

          label {
            .option-chosen {
              height: 17px;
              display: block;
              position: absolute;
              top: 12px;
              bottom: 0;
              opacity: 0;
            }

            input[type="radio"] {
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              width: 100%;
              height: 100%;
              margin: 0;
              opacity: 0;
              cursor: pointer;
            }
          }

          &:hover {
            background-color: $gray;
          }
        }
      }
    }
  }

  .filter-box {
    width: 210px;
    margin-right: 90px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: $tablet) {
      width: 100%;
      margin: 35px 0;
    }

    @media (min-width: $tablet) {
      justify-content: flex-start;
    }

    #show-filter {
      margin: 0 auto;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 200px;
      height: 25px;
      opacity: 0;
      cursor: pointer;
      z-index: 3;

      @media (min-width: $tablet) {
        display: none;
      }

      &-button {
        margin: 0 auto;
        width: 200px;
        height: 25px;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: $tablet) {
          display: none;
        }

        #filter-arrow {
          margin-left: 15px;
          margin-bottom: 2px;
          transform: rotate(180deg);
        }

        &.hidden {
          display: none;

          @media (max-width: $tablet) {
            display: block;
          }
        }
      }

      &:hover {
        #show-filter-button {
          #filter-arrow {
            transition: transform 0.2s ease;
            transform: rotate(180deg) translateY(-2px);
          }
        }
      }
    }

    .filter {
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.2s ease;

      @media (min-width: $tablet) {
        max-height: 100%;
      }

      input[type="checkbox"] {
        display: none;
      }

      &__square,
      &__furniture,
      &__price {
        header {
          font-size: $bigger-text;
          font-weight: $medium;
          margin-top: 35px;
          // -webkit-margin-top-collapse: separate;
          margin-bottom: 20px;
        }

        ul {
          margin-left: 30px;

          li {
            margin: 25px 0;
            position: relative;

            label {
              cursor: pointer;

              &:before {
                content: url("img/input.svg");
                position: absolute;
                left: -30px;
                top: -4px;
                height: 20px;
                width: 20px;
              }

              &:hover {
                &:before {
                  background-color: $gray;
                }
              }
            }

            input:checked {
              & ~ .checkmark {
                position: absolute;
                left: -25px;
                top: 2px;
                content: url("img/selected_input.svg");
              }
            }
          }
        }
      }

      &__price {
        header {
          margin-top: 0;
        }

        label {
          position: relative;
          margin-right: 5px;

          input {
            width: 100px;
            height: 24px;
            padding: 0;
            padding-left: 25px;
            padding-bottom: 2px;
            border: 1px solid $gray;
          }

          span {
            position: absolute;
            top: 2px;
            left: 5px;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &__buttons {
        @media (min-width: $phone) and (max-width: $tablet) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        button {
          width: 185px;
          height: 42px;
          padding-bottom: 2px;
          background-color: transparent;
          border: 2px solid $yellow;
          border-radius: 25px;
          font-weight: $semi-bold;
          font-family: $Lato;
          font-size: $default-text;
          margin-top: 15px;
          position: relative;
          overflow: hidden;
          cursor: pointer;

          &.submit {
            background-color: $yellow;

            &:before {
              position: absolute;
              top: -5px;
              overflow: hidden;
              // background: rgba(255, 255, 255, 0.4);
              background: white;
              content: "";
              display: block;
              width: 50px;
              height: 50px;
              transform: skew(-60deg) translateX(-100px);
            }

            &:hover {
              &:before {
                transition: transform 0.4s ease;
                transform: skew(-60deg) translateX(200px);

                @media (max-width: $tablet) {
                  transform: skew(-60deg) translateX(100vw);
                }
              }
            }
          }

          &.reset {
            transform: translateX(-100vw);
            transition: transform 0.2s ease;

            &.shown {
              transform: translateX(0px);
            }
          }

          @media (max-width: $tablet) {
            width: 100%;
          }
        }
      }
    }

    #show-filter:checked {
      & ~ #show-filter-button {
        #filter-arrow {
          transform: rotate(360deg);
        }
      }

      & ~ .filter {
        max-height: 1000px;
      }
    }
  }

  .variants {
    // display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    width: calc(100% - 300px);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: -60px;

    @media (min-width: $desktop) and (max-width: $big-desktop) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $tablet - 1) and (max-width: $desktop - 1) {
      grid-template-columns: 1fr;
    }

    @media (min-width: $phone) and (max-width: $tablet) {
      grid-template-columns: 1fr 1fr;
      width: 100%;
    }

    @media (max-width: $big-phone) {
      width: 100%;
      grid-template-columns: 1fr;
    }

    .card {
      min-width: 270px;
      width: 100%;
      // max-width: 320px;
      // flex: 0 1 calc(33% - 30px);
      // width: calc(33% - 30px);
      box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
      border-radius: 6px;
      // margin-left: 30px;
      // margin-bottom: 30px;
      overflow: hidden;

      &__image-container {
        overflow: hidden;
        height: 185px;

        img {
          width: 100%;
        }
      }

      &__body {
        margin: 25px 20px;

        h2 {
          font-family: $Rubik;
          font-size: $small-header;
          margin: 25px 0 20px 0;
        }

        &__options {
          li {
            margin-bottom: 15px;
          }

          &__furniture {
            display: flex;

            &__list {
              margin-left: 12px;
              display: flex;

              li {
                margin-right: 8px;
                margin-bottom: 0;

                &:last-child {
                  margin-right: 0;
                }
              }

              .none {
                content: url("img/none.svg");
              }

              .bed {
                content: url("img/sofa.svg");
              }

              .claw {
                content: url("img/clawer.svg");
              }

              .ball {
                content: url("img/ball.svg");
              }

              .house {
                content: url("img/house.svg");
              }
            }
          }

          &__price {
            span {
              font-size: $bigger-text;
              // margin-left: 5px;
              font-weight: $medium;
            }
          }
        }

        button {
          margin-top: 10px;
          border-radius: 25px;
          background-color: $orange;
          width: 100%;
          height: 46px;
          border: none;
          color: white;
          padding-bottom: 3px;
          padding-right: 34px;
          position: relative;
          cursor: pointer;

          .paw {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 6px;
            top: 6px;
            width: 34px;
            height: 34px;
            background: white;
            padding-top: auto;
            border-radius: 100%;
          }
        }
      }
    }
  }

  @media (max-width: $tablet) {
    padding: 12px 36px;
  }
}
